# Fred Thomsen
#
# ~/.aliases: Personal aliases

# grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias free='free -m'
alias df='df -h'
alias du='du -h'

alias ..='cd ..'
alias h='history'
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias mkdir='mkdir -p'     # always make directory
alias top='htop'

# terminal aliases
if [ $(uname) = Linux ]; then
    alias xfce4-terminal='xfce4-terminal --maximize'
    alias terminal='terminator'
    alias term='terminator'
fi

# ls aliases
if [ $(uname) = Darwin ]; then
    alias ls='ls -hFG'  # add colors for filetype recognition
else
    alias ls='ls -hF --color'  # add colors for filetype recognition
fi
alias lt='ls -ltr'         # sort by date, most recent last
alias la='ls -Al'          # show hidden files
alias ll='ls -l --group-directories-first'
alias l='ls -CF'

alias lx='ls -lXB'         # sort by extension
alias lk='ls -lSr'         # sort by size, biggest last
alias lc='ls -ltcr'        # sort by and show change time, most recent last
alias lu='ls -ltur'        # sort by and show access time, most recent last
alias lm='ls -al |more'    # pipe through 'more'
alias lr='ls -lR'          # recursive ls

# Git aliases
alias g='git'
alias ga='git add'
alias gb='git br'
alias gf='git f'
alias gco='git co'
alias gc='git ct'
alias gm='git mg'
alias gr='git rb'
alias gd='git diff'
alias gl='git log'
alias gvl='git vlog'
alias gvbl='git vblog'
alias gs='git st'
alias gsh='git sh'
alias gshf='git shf'
alias gt='git tag'
alias gps='git ps'
alias gpl='git pl'
alias em7r='g describe --match v$(cat ~/em7/SILO_VERSION)'

# python virtualenv
alias venv='virtualenv venv && source venv/bin/activate'
alias venv3='virtualenv -p python3 venv3 && source venv3/bin/activate'
alias unvenv='deactivate'

# webapps
alias gmail='/opt/google/chrome/google-chrome --app https://mail.google.com'
alias tweet='/opt/google/chrome/google-chrome --app https://tweetdeck.twitter.com'
alias reddit='/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pmfcbbijgnhoebddbjpmlikabnbnddgb'
alias cal='/opt/google/chrome/google-chrome --app https://calendar.google.com'
alias github='/opt/google/chrome/google-chrome --app https://www.github.com'
alias drive='/opt/google/chrome/google-chrome --app https://drive.google.com'
alias music='/opt/google/chrome/google-chrome --app https://music.google.com'
alias plex='/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fpniocchabmgenibceglhnfeimmdhdfm'
alias netflix='/opt/google/chrome/google-chrome --app https://www.netflix.com'
alias youtube='/opt/google/chrome/google-chrome --app https://www.youtube.com'
