[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=GitHub
Comment=github
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mjoklplbddabcmpepnokjaffbmgbkkgg
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

