[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Slack
Comment=slack
Exec=/usr/bin/slack
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

