[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=TweetDeck
Comment=tweetdeck
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hbdpomandigafcibbmofojjchbcdagbl
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

