[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Docs
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=aohghmighlieiainnegkcijnfilokake
Icon=chrome-aohghmighlieiainnegkcijnfilokake-Default
StartupWMClass=crx_aohghmighlieiainnegkcijnfilokake
X-XFCE-Source=file:///home/fred/.local/share/applications/chrome-aohghmighlieiainnegkcijnfilokake-Default.desktop
