[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Netflix
Exec=/opt/google/chrome/google-chrome --app https://www.netflix.com
Icon=netflix
StartupWMClass=crx_deceagebecbceejblnlcjooeohmmeldh
X-XFCE-Source=file:///home/fred/.local/share/applications/chrome-deceagebecbceejblnlcjooeohmmeldh-Default.desktop
Comment=
Path=
StartupNotify=false
